html {
  height: 100%;
}

body {
  background: linear-gradient(#43bbf7, #c6ced1);
}

footer {
  text-align: center;
  font-family: "Fira Sans", sans-serif;
  font-size: 12px;
}

h1 {
  font-size: 30px;
  font-style: italic;
  margin: 22px auto 0 0;
  color: #2f90c5;
  font-weight: bolder;
}

h2,
h3 {
  text-align: left;
  margin: 0;
  position: relative;
  right: 20px;
  top: 30px;
}

h2 {
  font-size: 40px;
}
h3 {
  font-size: 18px;
  font-weight: bold;
  text-transform: capitalize;
}

input {
  width: 250px;
  position: relative;
}

ul {
  list-style: none;
  padding: 0;
  margin-top: 45px;
  position: relative;
  right: 60px;
  bottom: 12px;
  text-align: center;
  font-size: 16px;
}

.button-date {
  border-radius: 50%;
  font-weight: bold;
  position: relative;
  left: 3px;
  bottom: 15px;
  border-color: #6c757d;
  border: solid;
  padding: 14px;
  font-size: 14px;
  background: white;
  font-weight: bold;
}

.card {
  display: block;
  margin: 60px auto;
  border-radius: 20px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.3);
}

.card-header {
  font-family: "Nanum Pen Script", cursive;
  font-size: 150%;
  border-bottom: none;
  font-weight: bold;
  text-shadow: 2px 2px #e7e9eb;
  padding: 8px 25px;
  background-color: transparent;
}

.card-body {
  font-family: "Fira Sans", sans-serif;
  padding-top: 15px;
  padding: 8px 25px;
}

.Celsius-button,
.Farenheit-button {
  position: relative;
  right: 30px;
}

.date,
.description {
  font-size: 15px;
}

.magnifier {
  position: relative;
  left: 200px;
  bottom: 20px;
}

.next-days {
  text-align: center;
}

.primary-image {
  display: flex;
  justify-content: center;
  flex-direction: column;
  margin: 0 auto;
  position: relative;
  top: 10px;
}

.secondary-image {
  display: flex;
  justify-content: center;
  flex-direction: column;
  margin: 0 auto;
}

.temperature {
  font-weight: bold;
  font-size: 15px;
}
